.DS_Store

.build
*.xcodeproj
.swiftpm

.vscode

/Tests/default.json
/Tests/WITOverlayGeneratorTests/Compiled/**
/Tests/WITOverlayGeneratorTests/Generated/**
Tests/WITExtractorPluginTests/Fixtures/*/Package.resolved

!**/.gitkeep
FuzzTesting/FailCases/FuzzExecute/timeout-*

Package.resolved
