name: Format
on:
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    container:
      image: swift:6.0-noble
    steps:
      - uses: actions/checkout@v4
      - run: apt-get update && apt-get install -y python3 && ./Utilities/format.py
      - name: Check for formatting changes
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git diff --exit-code || {
            echo "::error::The formatting changed some files. Please run \`./Utilities/format.py\` and commit the changes."
            exit 1
          }
